{% extends 'producthunt/base.html' %}


{% block content %}
{% if error %}
    {{ error }}
<br><br>
 {% endif %}

<h1><font color="#ff4500">Login</font></h1>

    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data" >
    {% csrf_token %}

    Title:<br>
    <input type="text" name="title" placeholder="Type Title"/><br>
    Body:<br>
    <input type="text" name=" body" placeholder="Write Message"/><br>
    Icone:<br>
    <input type="file" name="icone"/><br>
    Image:<br>
    <input type="file" name="image"/><br>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Add Product">

    </form>

</body>

{% endblock %}